.window {
	width: 100%;
	margin: 0;
	padding: 0;
	height: 100%;
}

.ribbon {
	padding: 0;
	border-collapse: collapse;
	margin-bottom: 3px;
	text-align: center;
	display: inline-block;
	width: fit-content;
	border: 1px solid gray;
	box-shadow: 1px 1px 1px gray;
}

.ribbon-button {
	display: inline-block;
	height: 70px;
	width: 50px;
	margin: 0 auto;
	padding: 0 10px;
	padding-bottom: 5px;
	border: 1px solid #F0F0F0;
}

.ribbon-button:hover {
	cursor: pointer;
	background: linear-gradient(180deg,#e5f4fd 45%,#b3e0f9 0);
	border: 1px solid #72a2c5;
}

.ribbon-button img {
	display: block;
	height: 40px;
	margin: 0 auto;
	padding-top: 10px;
}

.ribbon-button p {
	display: block;
	padding: 0;
	margin: 0;
}

.email h4 {
	font-size: 90%;
	margin: 0;
	padding: 0;
	border-collapse: collapse;
}

menu {
	margin: 0;
	padding: 0;
}

#tab-file {
	margin: 0;
	padding: 0;
	width: 100%;
	border: 0;
	background: #F0F0F0;
}

.email p {
	margin: 0;
	padding: 0;
	font-size: 90%;
}

.email {
	display: block;
	background: white;
	line-height: 0;
	margin: 0;
	padding: 0;
	cursor: pointer;
	border-collapse: collapse;
	border-spacing: 0;
}

.email:hover {
	background: lightblue;
}

.email img {
	filter: invert(42%) sepia(94%) saturate(758%) hue-rotate(157deg) brightness(97%) contrast(103%);
	width: 30px;
	padding: 10px;
}

.emails {
	border: 1px solid grey;
	border-collapse: collapse;
	background: white;
	min-width: 300px;
	padding: 0;
	margin: 0;
	border-spacing: 0;
	overflow-y: scroll;
}

tbody {
	display: inline-block;
	width: 100%;
}

.emails tr {
	display: block;
}

.emails td {
	display: block;
}

.emailbody {
	overflow-y: scroll;
	background: white;
	border: 1px solid grey;
	margin: 0;
	padding: 20px;
	font-family: monospace;
	width: 100%;
	display: none;
}

#email1 {
	display: block;
}

.email-area {
	display: flex;
	margin: 0;
	padding: 0;
	max-height: 395px;
	margin-bottom: 10px;
}

.status-bar {
	margin: 0;
	margin-top: 5px;
}

hr {
	color: lightgray;
	margin: 5px;
	margin-bottom: 10px;
}

button.nostyle {
	all: unset;
	width: 100%;
	margin: 0;
	padding: 0;
}

button.nostyle.disabled:hover {
	all: unset;
	background: linear-gradient(180deg,#cee9f8 45%,#86c6e8 0);
	width: 100%;
}

button.nostyle img {
	padding: 0;
	margin: 0;
	position: relative;
	top: 10px;
	left: 10px;
}

button.nostyle .info {
	padding: 0;
	margin: 0;
	margin-top: -20px;
	margin-left: 50px;
	margin-bottom: 10px;
}