body {
	overflow-y: hidden;
}

#compose {
	display: none;
}

menu {
		margin: 0;
		padding: 0;
	}


	.status-bar {
		margin: 0;
		margin-top: 5px;
		padding-bottom: 2px;
	}

	.ribbon {
			padding: 0;
			border-collapse: collapse;
			margin-bottom: 3px;
			text-align: center;
			display: inline-block;
			width: fit-content;
			border: 1px solid gray;
			box-shadow: 1px 1px 1px gray;
		}

		.ribbon-button {
			display: inline-block;
			height: 70px;
			width: 50px;
			margin: 0 auto;
			padding: 0 10px;
			padding-bottom: 5px;
			border: 1px solid #F0F0F0;
		}

		.ribbon-button:hover {
			background: linear-gradient(180deg,#e5f4fd 45%,#b3e0f9 0);
			border: 1px solid #72a2c5;
		}

		.ribbon-button.click:hover {
			cursor: pointer;
		}

		.ribbon-button img {
			display: block;
			height: 40px;
			margin: 0 auto;
			padding-top: 10px;
		}

		.ribbon-button p {
			display: block;
			padding: 0;
			margin: 0;
		}

.emaillink {
		all: unset;
		margin: 0;
		padding: 0;
		display: block;
		background: white;
		cursor: pointer;
		overflow: hidden;
		width: 100%;
	}

	.emaillink > * {
		cursor: pointer;
	}

	.emaillink p {
		margin: 0;
		padding: 0;
		font-size: 90%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		font-weight: 600;
	}

	.emaillink:hover {
		background: lightblue;
		background: linear-gradient(180deg,#d0eafa 45%,#a6d6f8 0);
	}

	.emaillink img {
		filter: invert(42%) sepia(94%) saturate(758%) hue-rotate(157deg) brightness(97%) contrast(103%);
		width: 30px;
		padding: 10px;
	}

	.emaillink h4 {
		font-size: 90%;
		margin: 0;
		padding: 0;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.emaillink h5 {
		height: 1rem;
		padding: 0;
		padding-top: 5px;
		margin: 0;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.emaillink img {
		display: inline-block;
		float: left;
		margin: 0.3rem;
	}

	.emaillink .info {
		padding: 0.5rem;
		margin: 0;
		margin-left: 3rem;
		margin-right: 2rem;
		white-space: nowrap;
	}

#tab-file {
	margin: 0;
	padding: 0;
	width: 100%;
	border: 0;
	background: #F0F0F0;
}

.email-area {
		display: flex;
		margin: 0;
		padding: 0;
		max-height: 395px;
		margin-bottom: 10px;
	}

	.emails {
		border: 1px solid grey;
		border-collapse: collapse;
		background: white;
		min-width: 40%;
		padding: 0;
		margin: 0;
		overflow-y: scroll;
	}

	.read h4 {
		font-weight: 500;
	}

	.read h5 {
		font-weight: 400;
	}

	.read p {
		font-weight: normal;
	}

	.emailbody {
		overflow-y: scroll;
		background: white;
		border: 1px solid grey;
		margin: 0;
		padding: 20px;
		font-family: monospace;
		display: none;
	}

	#email1 {
		display: inline-block;
	}

	.reply {
			display: block;
			margin: 0.2rem;
			margin-top: 0.4rem;
			padding: 0.4rem;
			padding-bottom: 1px;
			border: 1px solid gray;
			border-style: none none none solid;
		}
		
		hr {
			color: lightgray;
			margin: 5px;
			margin-bottom: 10px;
		}

		.blacked-out {
			background: black;
			color: black;
		}

		.blacked-out::selection {
			color: black;
			background: black;
		}

@media screen and (orientation: portrait) {
	body {
		overflow-y: scroll;
	}

	.emails {
		width: 100%;
	}
	.ribbon-button img {
		width: 1.5rem;
		height: 1.5rem;
		margin: 0;
		padding: 0.2rem;
		float: left;
	}

	.ribbon-button p {
		font-size: 90%;
		float: right;
		padding: 0.2rem;
	}

	.ribbon-button {
		height: 2rem;
		display: flex;
		flex: 30%;
		margin: 0;
		padding: 0;
		padding-top: 0.5rem;
		padding-left: 0.5rem;
	}

	.ribbon {
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		width: 100%;
	}

	.email-area {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.emailbody {
		overflow-wrap: break-word;
		overflow-x: hidden;
		height: 50rem;
	}
}