#proscenium {
	display: block;
	width: 800px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
}

p {
	text-align: center;
	width: 100%;
}

.select {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

select {
	text-align: center;
	width: 200px;
}

html, body {
	height: 100%;
	margin: 0;
}