@font-face {
    font-family: "NimbusSans";
    src: url("Nimbus-Sans.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
	background: #222;
	margin-left: auto;
	margin-right: 0;
	margin-top: 0;
	font-family: sans-serif;
}

.contacts {
	position: fixed;
	width: 40%;
	height: 100%;
	border: 1px solid #282F32;
	border-style: none solid none none;
	z-index: 1;
	margin-top: 60px;
	background: #131C21;
}

.contact {
	width: 100%;
}

.contact.active {
	background: #323739;
	color: red;
}

.contact:hover{
	background: #2D3134;
}

.contactInfo {
	padding-top: 12px;
	padding-left: 12px;
	padding-bottom: 12px;
	color: #f0f0f0;
	padding-left: 10px;
	margin: 0;
}

.contactInfo .circle {
	height: 50px;
	width: 50px;
	margin: 10px;
}

.circle.blue {
	background: lightblue;
}

.userNav {
	background: #2A2F32;
	color: #f0f0f0;
	margin: 0;
	padding: 0;
	font-size: 85%;
	position: fixed;
	width: 40%;
	margin: 0;
	top: 0;
	left: 0;
	border: 1px solid #3F4448;
	border-style: none solid none none;
	padding-bottom: 2px;
}

.userInfo {
	padding-top: 12px;
	padding-left: 12px;
	padding-bottom: 12px;
}

.messages {
	background: #0D1418;
	margin-left: 40%;
	padding-top: 60px;
}

table {
	color: #f0f0f0;
	margin: 5px;
	border-collapse: collapse;
	border-spacing: 10px;
}

table p {
	margin: 0;
	padding: 0;
}

.msgNav {
	background: #2A2F32;
	color: #f0f0f0;
	margin: 0;
	padding: 0;
	padding-left: 10px;
	font-size: 85%;
	position: fixed;
	width: 60%;
	margin: 0;
	top: 0;
	left: 40%;
}

.message-area {
	background: #0D1418;
	margin-left: 10px;
	margin-right: 10px;
}
.circle {
	border-radius: 50%;
	background: white;
	width: 35px;
	height: 35px;
}

.msgNav sub {
	color: #c0c0c0;
}

.msg {
	margin: 5px;
	font-size: 90%;
}

.msg sub {
	font-size: 60%;
	position: relative;
	float:  right;
	top: 0.5rem;
	left: 0.2rem;
	z-index: 0;
}

.msg p {
	display: table;
	margin: 0.4rem;
	padding: 7px 10px;
	border-radius: 0.5rem;
}

.received p {
	background: #262D31;
	color: #f0f0f0;
}

.received p:first-child {
	border-radius: 0 0.5rem 0.5rem 0.5rem;
}

.sent p {
	background: #056162;
	color: #e5e5e5;
	margin-left: auto;
	margin-right: 0;
}

.sent p:first-child {
	border-radius: 0.5rem 0 0.5rem 0.5rem;
}

.message-area .date {
	background: #262D31;
	color: whitesmoke;
	width: 20%;
	margin: 15px auto;
	padding: 5px;
	border: 1px solid #262D31;
	border-radius: 15px;
	text-align: center;
	font-weight: 100;
	font-size: 80%;
}

#last {
	padding-bottom: 50px;
}

.back-arrow {
	display: none;
}

@media screen and (orientation: portrait) {
	body {
		background: #0D1418;
		width: 100%;
	}

	.back-arrow {
		filter: invert(100%);
		width: 1rem;
		height: 1rem;
		margin: 0;
		padding: 0.7rem 0.9rem 0 0;
		display: inline-block;
	}


	.back-arrow:hover {
		cursor: pointer;
	}
	
	.contacts {
		display: none;
		width: 100%;
	}

	.messages {
		margin: 0;
		padding: 0;
		padding-top: 4rem;
		width: 100%;
		font-size: 90%;
	}

	.msgNav {
		margin: 0;
		padding: 0;
		width: 100%;
		display: inline-block;
		left: 0;
		z-index: 1s;
	}

	.msg p {
		padding: 1.2rem;
	}
	.msg p {
		display: table;
		margin: 0.4rem;
		padding: 7px 10px;
		border-radius: 0.5rem;
	}

	.msg.received :first-child {
		border-radius: 0 0.5rem 0.5rem 0.5rem;
	}

	.msg.sent :first-child {
		border-radius: 0.5 0 0.5rem 0.5rem;
	}
}