.ribbon {
	padding: 0;
	border-collapse: collapse;
	margin-bottom: 3px;
	text-align: center;
}

.ribbon td {
	width:  60px;
	height: 70px;
	border:  1px solid grey;
}

.email h4 {
	font-size: 90%;
	margin: 0;
	padding: 0;
}

.email p {
	margin: 0;
	padding: 0;
	font-size: 90%;
}

.email {
	display: block;
	background: white;
	padding: 0;
	line-height: 0;
	margin: 0;
	cursor: pointer;
	border-collapse: collapse;
	border-spacing: 0;
}

.email:hover {
	background: lightblue;
}

.email img {
	filter: invert(42%) sepia(94%) saturate(758%) hue-rotate(157deg) brightness(97%) contrast(103%);
	width: 25px;
	padding: 10px;
}

.emails {
	border: 1px solid grey;
	border-collapse: collapse;
	background: white;
	min-width: 280px;
	padding: 0;
	margin: 0;
	border-spacing: 0;
}

.info {
	padding: 7px;
	display: table-cell;
}

.emailbody {
	overflow-y: scroll;
	background: white;
	border: 1px solid grey;
	min-height: 300px;
	margin: 0;
	padding: 0;
}

.email-area {
	display: flex;
	margin: 0;
	padding: 0;
}