body {
	background: black;
}

.header {
	display: flex;
	color: white;
	font-family: "Arial";
	font-weight: bold;
	padding-bottom: 10px;
}

.header-name {
	color: white;
	font-family: "Arial";
	font-weight: bolder;
	padding-left: 15px;
	font-size: 110%;
}

.back-arrow {
	filter: invert(42%) sepia(94%) saturate(758%) hue-rotate(157deg) brightness(97%) contrast(103%);
	width: 22px;
	height: 22px;
	padding: 15px;	
}

.body {
	margin-top: 70px;
	margin-left: 110px;
	color: white;
	border: 1px solid #2F3336;
	border-style: none solid none none;
}

.navBar {
	position: fixed;
	top: 0;
	left: 0;
	border: 1px solid #2F3336;
	border-style: none solid none none;
	margin: 0;
	padding: 0;
	height: 100%;
	padding-left: 35px;
	padding-top: 15px;
	padding-right: 20px;
	z-index: 1;
	width: 45px;
}

.icon {
	filter: invert(100%);
	width: 25px;
	height: 25px;
	padding: 10px;
	margin-top: 4px;
}

.icon.selected {
	filter: invert(42%) sepia(94%) saturate(758%) hue-rotate(157deg) brightness(97%) contrast(103%);
}

.icon.compose {
	border: 1px solid #e56e25;
	background: #e56e25;
	border-radius: 50%;
}

img.logo {
	width: 45px;
	height: 45px;
	padding: 0;
	margin: 0;
	transform: scaleX(-1);
}

.header {
	background:  black;
	position: fixed;
	top: 0;
	left: 100px;
	border: 1px solid #2F3336;
	border-style: none solid solid solid;
	width: 100%;
	height: 50px;
}