body {
	background: black;

}

.header {
	color: white;
	font-family: "Arial";
	font-weight: bold;
	padding-bottom: 10px;
	background:  black;
	position: fixed;
	top: 0;
	left: 100px;
	border: 1px solid #2F3336;
	border-style: none solid solid solid;
	width: 100%;
	height: 50px;
	display: flex;
	z-index: 1;
}

.header .text {
	display: block;
}

.header-name {
	color: white;
	font-family: "Arial";
	font-weight: bolder;
	padding-left: 15px;
	font-size: 110%;
	display: block;
	margin: 0;
	padding: 0;
	margin-top: 15px;
	margin-left: 15px;
}

.header-sub {
	display: block;
	font-weight: 100;
	padding: 0;
	margin: 0;
	margin-left: 15px;
	font-size: 70%;
	color: gray;
}

.back-arrow {
	filter: invert(42%) sepia(94%) saturate(758%) hue-rotate(157deg) brightness(97%) contrast(103%);
	width: 22px;
	height: 22px;
	padding: 15px;	
	display: inline-block;
}

.body {
	margin-top: 35px;
	margin-left: 92px;
	color: white;
	border: 1px solid #2F3336;
	border-style: none solid none none;
	padding-top: 30px;
}

.navBar {
	position: fixed;
	top: 0;
	left: 0;
	border: 1px solid #2F3336;
	border-style: none solid none none;
	margin: 0;
	padding: 0;
	height: 100%;
	padding-left: 35px;
	padding-top: 15px;
	padding-right: 20px;
	z-index: 1;
	width: 45px;
}

.icon {
	filter: invert(100%);
	width: 25px;
	height: 25px;
	padding: 10px;
	margin-top: 4px;
}

.icon.selected {
	filter: invert(42%) sepia(94%) saturate(758%) hue-rotate(157deg) brightness(97%) contrast(103%);
}

.icon.compose {
	border: 1px solid #e56e25;
	background: #e56e25;
	border-radius: 50%;
}

img.logo {
	width: 45px;
	height: 45px;
	padding: 0;
	margin: 0;
	transform: scaleX(-1);
}

.tweet {
	font-family: "Arial";
	font-size: 95%;
	padding: 0;
	padding-left: 20px;
	margin: 0;
	border: 1px solid #2F3336;
	border-style: solid none none none;
}

.tweet span {
	display: block;
	padding-left: 5px;
	width: 100%;
}

.tweet h4 {
	display: inline-block;
}

.tweet span p {
	display: inline-block;
	padding: 0;
	padding-left: 5px;
	color: #6E767D;
	margin: 0;
}

.tweet-text {
	display: block;
	margin: 0;
	margin-top: -15px;
	margin-left: 5px;
	color: white;
	font-size: 90%;
}

.tweet-icons {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.tweet-icons svg {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-left: 5px;
	margin-bottom: 10px;
	filter: invert(42%) saturate(758%) brightness(97%) contrast(103%);
}

.profile {
	font-family: 'Arial';
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 0;
}

.profile h3 {
	margin: 0;
	padding: 0;
	font-weight: bolder;
}

.profile p {
	margin: 0;
	padding: 0;
}

.profile .handle {
	color: gray;
	font-size: 90%;
}

.profile .profile-sentence {
	padding-top: 15px;
}

.profile .location {
	color: gray;
	display: inline-block;
}

.profile .location p {
	display: inline-block;
	margin: 0;
	padding: 0;
	padding-right: 20px;
}

.profile .location svg {
	width: 15px;
	height: 15px;
	display: inline-block;
	padding: 0;
	padding-top: 15px;
	filter: invert(70%);
}

.links {
	display: inline-block;
	width: 100%;
	padding-top: 30px;
}

.links p {
	display: inline-block;
	margin-left: 10%;
	padding-bottom: 20px;
}

.links .selected {
	color: #1A91DA;
	border: 4px solid #1A91DA;
	border-style: none none solid none;
}

.followers {
	display: block;
}

.followers p {
	display:  inline-block;
	padding-top: 20px;
	font-size: 95%;
	color: gray;
	padding-left: 2px;
}