body {
	background: #222;
	margin-left: auto;
	margin-right: 0;
	margin-top: 0;
}

.contacts {
	position: fixed;
	width: 50%;

	height: 100%;
	top: 0;
	left: 0;
}

.messages {
	margin-left: 50%;
	margin-top: 100px;
}

table {
	color: #f0f0f0;
	margin: 5px;
	border-collapse: collapse;
	border-spacing: 10px;
}

table p {
	margin: 0;
	padding: 0;
}

.msgNav {
	background: #303030;
	color: #f0f0f0;
	margin: 0;
	padding: 0;
	padding-left: 10px;
	font-family: Arial;
	font-size: 85%;
	position: fixed;
	width: 50%;
	margin: 0;
	top: 0;
	left: 50%;
}

.msgArea {
	margin-top: 60px;
}

.circle {
	border-radius: 50%;
	background: white;
	min-width: 35px;
	min-height: 35px;
}

.msgNav sub {
	color: #c0c0c0;
}

.msg {
	margin: 5px;
	font-family: Arial;
	font-size: 90%;
}

.msg sub {
	font-size: 60%;
	padding-left: 10px;
	margin-top: 5px;
	padding-top: auto;
	float:  right;
}

.msg p {
	display: table;
	margin: 2px;
	padding: 7px 10px;
}

.msg.received :first-child {
	border-radius: 0px 10px 10px 10px;
}

.msg.sent :first-child {
	border-radius: 10px 0px 10px 10px;
}

.received p {
	border-radius: 10px 10px 10px 10px;
	background: #3a3a3a;
	color: #f0f0f0;
}

.sent p {
	border-radius: 10px 10px 10px 10px;
	background: #056162;
	color: #e5e5e5;
	margin-left: auto;
	margin-right: 0;
}