body {
	padding: 0;
	margin: 0;
	background: whitesmoke;
}

h1, h2, h3, h4, p {
	font-family: 'Arial';
}

p {
	font-size: 90%;
}

a {
	color: rgba(79, 138, 226, 1);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.heading {
	margin-left: 10cpx;
	margin-top: 0;
	margin-bottom: 10px;
	color: rgba(76, 108, 155, 1);
}

.subheading {
	margin-top: -5px;
	margin-left: 15px;
	font-size: 80%;
	font-weight: 300;
}

.date {
	margin-top: -10px;
	margin-left: 3px;
	font-size: 75%;
	font-weight: 200;
}

.post-body {
	display: inline-block;
	max-width: 75%;
	margin: 0;
	border: 1px solid gray;
	border-radius: 5px;
	box-shadow: -1px 1px 4px gray;
	padding: 40px 60px;
	text-align: justify;
	margin-bottom: 20px;
	background: white;
}

.post-heading {
	padding-left: 20px;
	padding-bottom: 5px;
}

.archive {
	display: inline-block;
	width: 8%;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 250px;
	border: 1px solid gray;
	border-style: none none none solid;
	padding-top: 50px;
	padding-left: 10px;
	margin-left: 10px;
	height: 200px;
}

.blog-bar {
	background: yellow;
	width: 100%;
	height: 40px;
	border: 1px solid orange;
	border-style: solid none solid none;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}

.body {
	display: inline-block;
	padding: 30px 5%;
}

ul {
	margin: 0;
	padding: 0;
	width: 100%;
	list-style-type: none;
	color: rgba(79, 138, 226, 1);
}

ul ul {
	padding-left: 10px;
	padding-bottom: 10px;
}

.post-footer {
	width: 100%;
	margin: 0;
	padding: 0;
	margin-top: 40px;
	padding-left: 10px;
	padding-top: 20px;
	border: 1px solid gray;
	border-style: solid none none none;
}

.comment {
	margin: 15px 0;
	border: 1px solid gray;
	border-radius: 5px;
	padding: 20px;
	box-shadow: -1px 1px 3px gray;
	background: whitesmoke;
}

.post-footer img {
	width: 30px;
	height: 30px;
	background: red;
	border-radius: 50%;
	display: inline-block;
	margin-right: 20px;
	vertical-align: middle;
	border: 2px solid gray;
	border-radius: 50%;
}

.post-footer img.red {
	background: red;
}

.post-footer img.white {
	background: white;
}

.post-footer .comment-text {
	display: inline-block;
	background: white;
	padding: 10px;
	border-radius: 10px;
}

.post-footer .subcomment {
	display: block;
	margin: 0;
	padding: 0;
	padding-left: 7px;
	font-size: 70%;
	font-weight: 100;
	color: #606060;
}

.post-footer .subcomment a {
	padding: 0;
	margin: 0;
	padding-right: 20px;
	font-size: 130%;
}
