body {
	padding: 40px;
}

p {
	font-family: 'Arial';
	font-size: 90%;
}

h3 {
	font-size: 95%;
	padding-left: 10px;
	font-family: 'Arial';
}

h4 {
	font-size: 70%;
	padding-left: 10px;
	font-family: 'Arial';
}